<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>

<form method="POST">
{% csrf_token %}
    <p>
		<strong>아이디</strong>
        <label>
            <input type="text" name="UserID" shadow="아이디 입력">
        </label>
    </p>
	<p>
		<strong>비밀번호</strong>
        <label>
            <input type="password" name="password" shadow="비밀번호 입력">
        </label>
    </p>
    <p>
		<strong>이름</strong>
        <label>
            <input type="text" name="name" shadow="이름입력">
        </label>
    </p>
    <input type="submit" name="Submit" action="user_new()"/>
</form >
</body>
</html>